**Conteúdos abordados**
1. List comprehension
2. Dataframes
3. Funções lambda + filter
4. Filtros em Dataframes

# Conceito - People Analytics
> **People Analytics** ou **análise de pessoas** é a abordagem orientada a dados que coleta, organiza e diagnostica dados sobre as equipes da empresa por meio de softwares e análises que cruzam as informações de diversas fontes — tudo para otimizar o gerenciamento de Recursos Humanos.

## Turnover

> Também conhecido como taxa de "Turnover" (do inglês) é o índice de rotatividade que simboliza a taxa média de saída de funcionários (demissões voluntárias e involuntárias) em relação ao número médio de funcionários de uma empresa em determinado espaço de tempo.

> O índice de rotatividade ideal varia de empresa para empresa mas, em geral, deve ser menos de 10% ao ano (1% ao mês).


## Turnover geral

 $$ Turnover geral = \dfrac{\dfrac{Numero \, de \, admissoes + Numero  \, de \, desligamentos}{2}}{Numero \, total \, de \, funcionarios} * 100$$


> Reflete a taxa de “movimentação” do número de funcionários dentro da empresa.

> Recomendada se você estiver querendo avaliar a rotatividade geral da empresa sem muita preocupação em extrair alguma informação qualitativa.

## Turnover de desligados
Para as pessoas desligadas da empresa, tem-se duas definições:
> **Desligados Ativos**: Quem pediu demissão;
> $$Turnover \, de \, desligados \, ativos = \dfrac{numero \, de \, desligados ativos(pediram \, demissao)}{todal \, de \, funcionarios} * 100$$ 
> **Desligados Passivos**: Quem foi demitido;
> $$Turnover \, de \, desligados \, passivos = \dfrac{numero \, de \, desligados \, passivos(demitidos)}{todal \, de \, funcionarios} * 100$$

> Se o turnover de **desligados passivos** é alto, significa que há um problema na contratação de funcionários. O processo de recrutamento e seleção muito provavelmente está deixando entrar na empresa pessoas sem fit cultural com a empresa ou que não atingem os níveis mínimos de performance nas avaliações de desempenho;

> Se turnover de **desligados ativos** é alto, a falha está na retenção de talentos. Faça uma avaliação de clima organizacional, procure por problemas no relacionamento com superiores, veja as condições de trabalho, ou seja, há algum problema sério na organização;

## Turnover de admissão
$$Turnover \, de \, admissão = \dfrac{numero \, de \, desligados \, com \, menos \, de \, 6 \, meses}{total \, de \, funcionarios} * 100 $$

> % de turnover para funcionários com até 6 meses;

> Um desligamento de uma pessoa tão recente indica uma falha grave no processos de seleção/recrutamento. Ou escolheu mal, ou não consegui transmitir para o candidato a real situação que ele encontraria, gerando um desalinhamento entre expectativa e realidade;

## Segmentar o turnover
É interessante analisar o turnover em diferentes níveis para se ter uma análise mais qualitativa, por exemplo:
> Por departamento;

> Por unidades de negócio;

> Por filiais;

> Por níveis hierárquicos;

> Por tempo de casa;

## Absenteísmo
$$= \dfrac{Numero \, de \, atrasos \, e \, faltas}{total \, de \, dias \, uteis} * 100 $$

> período em que os colaboradores se ausentam do trabalho, seja por atrasos, seja por faltas;

## Perguntas que people analytics consegue responder
> Quantas pessoas viram o link da vaga no site da empresa? e no linkedin?

> Quantas pessoas se inscreveram?

> Quanto tempo demorou o processo?

> Quanto tempo ela ficou?

> Quantos projetos participou?

> Quem foi o lider?

> Quantas horas perdidas?

> Existe alguma relação entre para quem uma pessoa trabalha e seu de desempenho?

> Qual é o perfil geral de diversidade da organização?

> Quais são nossas melhores fontes de recrutamento se quisermos garantir uma 
organização diversificada?

> Existem áreas da empresa onde a remuneração não é equitativa?

## Data Dictionary [https://storage.googleapis.com/pedagogico/formacao-dados/tabela_people_analytics.csv](https://storage.googleapis.com/pedagogico/formacao-dados/tabela_people_analytics.csv)
<table>
<thead>
<tr>
<th style="text-align:left;">
Feature
</th>
<th style="text-align:left;">
Description
</th>
<th style="text-align:left;">
DataType
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Employee Name
</td>
<td style="text-align:left;">
Employee’s full name
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
EmpID
</td>
<td style="text-align:left;">
Employee ID is unique to each employee
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
MarriedID
</td>
<td style="text-align:left;">
Is the person married (1 or 0 for yes or no)
</td>
<td style="text-align:left;">
Binary
</td>
</tr>
<tr>
<td style="text-align:left;">
MaritalStatusID
</td>
<td style="text-align:left;">
Marital status code that matches the text field MaritalDesc
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
EmpStatusID
</td>
<td style="text-align:left;">
Employment status code that matches text field EmploymentStatus
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
DeptID
</td>
<td style="text-align:left;">
Department ID code that matches the department the employee works in
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
PerfScoreID
</td>
<td style="text-align:left;">
Performance Score code that matches the employee’s most recent performance score
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
FromDiversityJobFairID
</td>
<td style="text-align:left;">
Was the employee sourced from the Diversity job fair? 1 or 0 for yes or no
</td>
<td style="text-align:left;">
Binary
</td>
</tr>
<tr>
<td style="text-align:left;">
Salary
</td>
<td style="text-align:left;">
The person’s yearly salary. $ U.S. Dollars
</td>
<td style="text-align:left;">
Float
</td>
</tr>
<tr>
<td style="text-align:left;">
Termd
</td>
<td style="text-align:left;">
Has this employee been terminated - 1 or 0
</td>
<td style="text-align:left;">
Binary
</td>
</tr>
<tr>
<td style="text-align:left;">
PositionID
</td>
<td style="text-align:left;">
An integer indicating the person’s position
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
Position
</td>
<td style="text-align:left;">
The text name/title of the position the person has
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
State
</td>
<td style="text-align:left;">
The state that the person lives in
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
Zip
</td>
<td style="text-align:left;">
The zip code for the employee
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
DOB
</td>
<td style="text-align:left;">
Date of Birth for the employee
</td>
<td style="text-align:left;">
Date
</td>
</tr>
<tr>
<td style="text-align:left;">
Sex
</td>
<td style="text-align:left;">
Sex - M or F
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
MaritalDesc
</td>
<td style="text-align:left;">
The marital status of the person (divorced, single, widowed, separated, etc)
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
CitizenDesc
</td>
<td style="text-align:left;">
Label for whether the person is a Citizen or Eligible NonCitizen
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
HispanicLatino
</td>
<td style="text-align:left;">
Yes or No field for whether the employee is Hispanic/Latino
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
RaceDesc
</td>
<td style="text-align:left;">
Description/text of the race the person identifies with
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
DateofHire
</td>
<td style="text-align:left;">
Date the person was hired
</td>
<td style="text-align:left;">
Date
</td>
</tr>
<tr>
<td style="text-align:left;">
DateofTermination
</td>
<td style="text-align:left;">
Date the person was terminated, only populated if, in fact, Termd = 1
</td>
<td style="text-align:left;">
Date
</td>
</tr>
<tr>
<td style="text-align:left;">
TermReason
</td>
<td style="text-align:left;">
A text reason / description for why the person was terminated
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
EmploymentStatus
</td>
<td style="text-align:left;">
A description/category of the person’s employment status. Anyone currently working full time = Active
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
Department
</td>
<td style="text-align:left;">
Name of the department that the person works in
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
ManagerName
</td>
<td style="text-align:left;">
The name of the person’s immediate manager
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
ManagerID
</td>
<td style="text-align:left;">
A unique identifier for each manager.
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
RecruitmentSource
</td>
<td style="text-align:left;">
The name of the recruitment source where the employee was recruited from
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
PerformanceScore
</td>
<td style="text-align:left;">
Performance Score text/category (Fully Meets, Partially Meets, PIP, Exceeds)
</td>
<td style="text-align:left;">
Text
</td>
</tr>
<tr>
<td style="text-align:left;">
EngagementSurvey
</td>
<td style="text-align:left;">
Results from the last engagement survey, managed by our external partner
</td>
<td style="text-align:left;">
Float
</td>
</tr>
<tr>
<td style="text-align:left;">
EmpSatisfaction
</td>
<td style="text-align:left;">
A basic satisfaction score between 1 and 5, as reported on a recent employee satisfaction survey
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
SpecialProjectsCount
</td>
<td style="text-align:left;">
The number of special projects that the employee worked on during the last 6 months
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
LastPerformanceReviewDate
</td>
<td style="text-align:left;">
The most recent date of the person’s last performance review.
</td>
<td style="text-align:left;">
Date
</td>
</tr>
<tr>
<td style="text-align:left;">
DaysLateLast30
</td>
<td style="text-align:left;">
The number of times that the employee was late to work during the last 30 days
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
<tr>
<td style="text-align:left;">
Absences
</td>
<td style="text-align:left;">
The number of times the employee was absent from work.
</td>
<td style="text-align:left;">
Integer
</td>
</tr>
</tbody>
</table>

# Sobre os dados
> Cada linha representa um colaborador;

> DateofTermination tem valores nulos para alguns funcionários porque esses funcionários ainda trabalham na empresa;

# Exercícios

## Exercício 1
O time de RH de uma empresa quer ter uma noção do fluxo de funcionários durante o ano de 2016. Para isso, é necessário o cálculo do turnover geral. Qual o turnover geral de 2016?

In [151]:
import pandas as pd
pd.set_option('display.max_columns',100) # mostra no máximo 100 colunas

In [152]:
# Carregue os dados em um dataframe
people =pd.read_csv('https://storage.googleapis.com/pedagogico/formacao-dados/tabela_people_analytics.csv')
people

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,0,20,Production Technician II,MA,1810,05/11/85,M,Single,US Citizen,No,White,7/7/2014,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,1,19,Production Technician I,MA,2458,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,0,6,CIO,MA,2067,08/30/79,F,Single,US Citizen,No,White,4/10/2010,NaN,N/A-StillEmployed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,0,9,Data Analyst,MA,2148,02/24/79,F,Single,US Citizen,No,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,0,19,Production Technician I,MA,1730,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [153]:
# Verifique as 5 primeiras linhas do dataframe para entender um pouco mais sobre os dados
people.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [154]:
# Verifique as características estatíticas desse dataframe com o método .describe()
people.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,303.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.570957,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.078306,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,10.000000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,15.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [155]:
# Crie uma seleçao que filtre no dataframe as pessoas desligadas, ou seja df['Termd'] == 1 e
# Coloque numa variavel chamada df_termination o dataframe filtrado
selecao_desligados = people['Termd'] == 1
people_termination = people[selecao_desligados] # people.loc[selecao_desligados]
people_termination.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
10,"Baczenski, Rachael",10252,1,1,0,5,5,3,1,54670,1,19,Production Technician I,MA,1902,01/12/74,F,Married,US Citizen,Yes,Black or African American,1/10/2011,1/12/2017,Another position,Voluntarily Terminated,Production,David Stanley,14.0,Diversity Job Fair,Fully Meets,4.20,4,0,1/30/2016,0,12
11,"Barbara, Thomas",10242,1,1,1,5,5,3,1,47211,1,19,Production Technician I,MA,2062,02/21/74,M,Married,US Citizen,Yes,Black or African American,4/2/2012,9/19/2016,unhappy,Voluntarily Terminated,Production,Kissy Sullivan,20.0,Diversity Job Fair,Fully Meets,4.20,3,0,5/6/2016,0,15

In [156]:
desligados_total = len(people_termination)
print(f'Desligados na totalidade = {desligados_total}')

Desligados na totalidade = 104

In [157]:
# encontre a quantidade de pessoas demitidas em 2016 utilizando filter e lambda function e list comprehension
#tratamento de dados 
# criado list comprehension linha a linha tabela(filtrado) da coluna desejada,usando  o split  separador '/', pegando último indice 2016
lista_desligamento = list(filter(lambda x: x == '2016', [linha.split('/')[-1] for linha in people_termination['DateofTermination']]))
#filtrar somente 2016 : filter + lambda function, criando uma lista somente o que for igual a 2016
#criar variavel que armazena tratamento desejado, para poder usar a mesma
#criar outra variável que armazena e manipula os dados necessários, usando o len() para saber quantidade de desligado em 2016
numero_desligados = len(lista_desligamento)
print(f'O número de desligados em 2016 é {numero_desligados}, de um total de {desligados_total} no geral da empresa.')

O número de desligados em 2016 é 22, de um total de 104 no geral da empresa.

In [158]:
# Encontre a quantidade de pessoas contratadas em 2016 utilizando filter e lambda function e list comprehension
lista_contratacao = list(filter( lambda x: x == '2016',[linha.split('/')[-1] for linha in people['DateofHire']]))
numero_contratados = len(lista_contratacao)
contratdos_total=len(people['DateofHire'])
print(f'O número de contratados em 2016 é {numero_contratados}, de um total de {contratdos_total} no geral da empresa.')

O número de contratados em 2016 é 14, de um total de 311 no geral da empresa.

In [159]:
# Calcule o turnover_geral = (((admissoes + desligamentos)/2) / total_funcionarios) * 100
total_funcionarios_2016 = 200
def calcula_turnover(numero_contratados, numero_desligados, total_funcionarios_2016):
    turnover = ((numero_contratados + numero_desligados)/2) / total_funcionarios_2016 * 100
    return turnover
result = calcula_turnover(numero_contratados, numero_desligados, total_funcionarios_2016)
print(f'Turnover igual: {result}')

Turnover igual: 9.0

## Exercício 2.1

O time de treinamentos pediu para um colega seu adicionar, para cada colaborador, um dicionário contendo os seguintes dados:
~~~python
{'skill_name': ['Teamwork','collaboration skills']}
~~~

In [171]:
# Verifique o tamanho de df com .shape
people.shape

(311, 37)

In [178]:
# Crie uma coluna em df chamada 'skills' e adicione a estrutra acima para cada colaborador
"""people.shape[0] representa o número de linhas do DataFrame. Isso garante que um novo dicionário seja 
criado para cada linha do DataFrame 'people'. Esses dicionários são então atribuídos à coluna 'skills' do DataFrame 'people'.
"""
people['skills'] = [{'skill_name': ['Teamwork','collaboration skills']} for item in range(people.shape[0])]
people.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,skills
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski..."
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17,"{'skill_name': ['Teamwork', 'collaboration ski..."
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3,"{'skill_name': ['Teamwork', 'collaboration ski..."
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15,"{'skill_name': ['Teamwork', 'collaboration ski..."
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2,"{'skill_name': ['Teamwork', 'collaboration ski..."

## Exercício 2.2
Agora o time de treinamentos quer que você organize essas skills tirando-as de dentro das listas, juntando-as com espaço (" "). O resultado final deve ser
> Teamwork collaboration skills

Utilize o método apply para realizar essa tarefa.

In [184]:
# Crie uma coluna chamada 'skills_tratada' em df e faça as transformações necessárias para retornar a string 'Teamwork collaboration skills'
people['skills_tratada'] = people['skills'].apply(lambda x: x['skill_name'][0].replace('Teamwork', 'Time Trabalho') + ' ' + x['skill_name'][1].replace('collaboration skills', 'Skills Colaboração') )
#separa a chave x valor da lista de dicionários 'skills' e separa por indicies, [0] + ' ' + [1]
people.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,skills,skills_tratada
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração

# Filtros

# Exercício 3
O pessoal de Employee Experience quer entender alguns comportamentos das pessoas que faltam no Trabalho. Eles chegaram com algumas perguntas:

1. Quantos colaboradores tiveram mais faltas? Quantos tiveram menos faltas?
2. Pessoas que possuem o maior numero de faltas avaliam mal sua satisfação no trabalho? e com menor numero de faltas?
3. Pessoas que possuem o maior numero de faltas tem nota ruim de engajamento? E com menor numero de faltas?

### Quantos colaboradores tiveram mais faltas? Quantos tiveram menos faltas?

In [188]:
# filtre pessoas com o maior numero de faltas
maximo_faltas = people['Absences'].max()
maximo_faltas

20

In [253]:
maiores_faltantes = people['Absences'] == maximo_faltas
people[maiores_faltantes]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,skills,skills_tratada
15,"Bates, Norman",10061,0,0,1,4,5,3,0,57834,1,19,Production Technician I,MA,2050,10/18/81,M,Single,US Citizen,No,White,2/21/2011,8/4/2017,attendance,Terminated for Cause,Production,Kelley Spirea,18.0,Google Search,Fully Meets,5.00,4,0,4/5/2017,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
93,"Fitzpatrick, Michael J",10093,0,0,1,5,5,3,0,72609,1,20,Production Technician II,MA,2143,10/01/81,M,Single,US Citizen,Yes,White,5/16/2011,6/24/2013,hours,Voluntarily Terminated,Production,Amy Dunn,11.0,Google Search,Fully Meets,4.76,5,0,4/5/2013,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
107,"Givens, Myriam",10255,0,0,0,1,6,3,0,61555,0,3,Area Sales Manager,IN,46204,09/22/89,F,Single,US Citizen,No,White,2/16/2015,NaN,N/A-StillEmployed,Active,Sales,Lynn Daneault,21.0,Indeed,Fully Meets,4.50,5,0,1/25/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
109,"Goeth, Amon",10228,1,1,1,1,3,3,0,74679,0,14,IT Support,MA,2135,11/24/89,M,Married,US Citizen,Yes,White,3/30/2015,NaN,N/A-StillEmployed,Active,IT/IS,Peter Monroe,7.0,LinkedIn,Fully Meets,4.30,5,7,1/10/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
114,"Good, Susan",10237,1,1,0,3,5,3,0,66825,0,20,Production Technician II,MA,1886,05/25/86,F,Married,US Citizen,No,White,5/12/2014,NaN,N/A-StillEmployed,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.60,3,0,2/7/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
121,"Guilianno, Mike",10109,0,0,1,5,6,3,0,71707,1,3,Area Sales Manager,TN,37129,02/09/69,M,Single,US Citizen,No,Two or more races,3/7/2012,10/31/2014,relocation out of area,Voluntarily Terminated,Sales,John Smith,17.0,LinkedIn,Fully Meets,4.50,5,0,2/1/2013,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
123,"Hankard, Earnest",10074,0,0,1,1,5,3,0,64246,0,20,Production Technician II,MA,2155,08/10/88,M,Single,US Citizen,Yes,White,11/11/2013,NaN,N/A-StillEmployed,Active,Production,Kelley Spirea,18.0,LinkedIn,Fully Meets,5.00,3,0,1/8/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
155,"Kreuger, Freddy",10165,0,0,1,1,6,3,1,71339,0,3,Area Sales Manager,NY,10171,02/24/69,M,Single,US Citizen,Yes,Black or African American,3/7/2011,NaN,N/A-StillEmployed,Active,Sales,John Smith,17.0,Diversity Job Fair,Fully Meets,3.65,5,0,1/17/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
158,"Langford, Lindsey",10106,0,2,0,5,5,3,0,66074,1,20,Production Technician II,MA,2090,07/25/79,F,Divorced,US Citizen,No,Asian,1/7/2013,3/31/2014,Another position,Voluntarily Terminated,Production,David Stanley,14.0,Indeed,Fully Meets,4.52,3,0,2/20/2014,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
161,"Latif, Mohammed",10249,1,1,1,5,5,3,0,61962,1,20,Production Technician II,MA,2126,05/09/84,M,Married,US Citizen,No,White,4/2/2012,4/15/2013,more money,Voluntarily Terminated,Production,Kissy Sullivan,20.0,Google Search,Fully Meets,4.90,3,0,2/20/2013,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
164,"LeBlanc, Brandon R",10134,1,1,1,1,1,3,0,93046,0,23,Shared Services Manager,MA,1460,06/10/84,M,Married,US Citizen,No,White,1/5/2016,NaN,N/A-StillEmployed,Active,Admin Offices,Janet King,2.0,CareerBuilder,Fully Meets,4.10,4,0,1/28/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
183,"Mckenna, Sandy",10145,1,1,0,1,5,3,0,62810,0,19,Production Technician I,MA,2184,01/07/87,F,Married,US Citizen,No,Black or African American,1/7/2013,NaN,N/A-StillEmployed,Active,Production,Kissy Sullivan,20.0,CareerBuilder,Fully Meets,3.93,3,0,1/30/2019,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
256,"Sloan, Constance",10095,0,0,0,5,5,3,0,63878,1,20,Production Technician II,MA,1851,11/25/87,F,Single,US Citizen,No,White,10/26/2009,4/8/2015,maternity leave - did not return,Voluntarily Terminated,Production,Michael Albert,22.0,CareerBuilder,Fully Meets,4.68,4,0,4/2/2015,0,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
263,"Sparks, Taylor",10302,1,1,0,1,5,1,0,64021,0,19,Production Technician I,MA,2093,07/20/68,F,Married,US Citizen,No,White,2/20/2012,NaN,N/A-StillEmployed,Active,Production,Brannon Miller,12.0,Indeed,PIP,2.40,2,1,2/25/2019,6,20,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração

In [220]:
# conte a quantidade de pessoas com as maiores faltas
qtd_maiores_faltantes = people[maiores_faltantes]['EmpID'].count()
print(f'O número de Maiores faltantes é igual a: {qtd_maiores_faltantes}')

O número de Maiores faltantes é igual a: 14

In [212]:
# filtre pessoas com o menor numero de faltas
minimo_faltantes = people['Absences'].min()

In [234]:
# conte a quantidade de pessoas com as menore faltas
menores_faltantes = people['Absences'] == minimo_faltantes
people[menores_faltantes].head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,skills,skills_tratada
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
14,"Barton, Nader",10066,0,2,1,5,5,3,0,52505,1,19,Production Technician I,MA,2747,07/15/77,M,Divorced,US Citizen,No,White,9/24/2012,4/6/2017,Another position,Voluntarily Terminated,Production,Michael Albert,22.0,On-line Web application,Fully Meets,5.00,5,0,3/2/2017,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
62,"Darson, Jene'ya",10056,1,1,0,1,5,3,0,57583,0,19,Production Technician I,MA,2110,11/05/78,F,Married,US Citizen,No,White,7/2/2012,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,5.00,3,0,2/25/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
68,"Demita, Carla",10100,0,3,0,5,5,3,0,58275,1,20,Production Technician II,MA,2343,02/25/51,F,Separated,US Citizen,No,Black or African American,4/4/2011,11/4/2015,more money,Voluntarily Terminated,Production,Kelley Spirea,18.0,Google Search,Fully Meets,4.62,5,0,5/6/2015,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração
71,"Dickinson, Geoff",10276,0,0,1,1,5,3,0,51259,0,19,Production Technician I,MA,2180,11/15/82,M,Single,US Citizen,No,White,5/12/2014,NaN,N/A-StillEmployed,Active,Production,Ketsia Liebig,19.0,Indeed,Fully Meets,4.30,4,0,2/19/2019,0,1,"{'skill_name': ['Teamwork', 'collaboration ski...",Time Trabalho Skills Colaboração

In [225]:
qtd_menores_faltantes =people[menores_faltantes]['EmpID'].count()
print(f'O número de Menores faltantes é igual a: {qtd_menores_faltantes}')

O número de Menores faltantes é igual a: 14

### Pessoas que possuem o maior numero de faltas avaliam mal sua satisfação no trabalho?

In [229]:
people[maiores_faltantes][['Employee_Name','EmpSatisfaction']] # nome e nota satifação
people[maiores_faltantes][['EmpSatisfaction']].mean() # media de satisfação

EmpSatisfaction    3.857143
dtype: float64

### Pessoas que possuem o menor numero de faltas avaliam mal sua satisfação no trabalho?

In [232]:
people[menores_faltantes][['Employee_Name','EmpSatisfaction']] # nome e nota satifação
people[menores_faltantes]['EmpSatisfaction'].mean() # media de satisfação
# conclusões

4.071428571428571

### Pessoas que possuem o maior numero de faltas tem nota ruim de engajamento?

In [246]:
people[maiores_faltantes][['Employee_Name','EngagementSurvey']] # nome de engajamento
people[maiores_faltantes][['EngagementSurvey']].mean() # media engajamento
# conclusoes

EngagementSurvey    4.345714
dtype: float64

### Pessoas que possuem o menor numero de faltas tem nota melhor de engajamento?

In [245]:
people[menores_faltantes][['Employee_Name','EngagementSurvey']] # nome de engajamento
people[menores_faltantes][['EngagementSurvey']].mean() # media engajamento
# conclusoes

EngagementSurvey    4.503571
dtype: float64

# Exercicio 4
O pessoal de Employee Experience quer entender se existe algum impacto de algumas variáveis nas faltas e na satisfação dos colaboradores. São elas: estado civil, departamento, satisfação do colaborador. Eles fizeram algumas perguntas:


1. O departamento tem impacto na quantidade de faltas?
2. O departamento tem impacto na satisfação do coolaborador?
3. A participação em projetos tem impacto nas faltas?

### O estado civil solteiro tem impacto na quantidade de faltas? E o estado casado ?

In [362]:
people['MaritalDesc'].unique()
#sem loop manual
solteiros = people[people['MaritalDesc']=='Single']
casados = people[people['MaritalDesc']=='Married']
print('Solteiros: ',solteiros['Absences'].mean())
print('Casados: ', casados['Absences'].mean(),'\n')

# Loop For
estados_civil = people['MaritalDesc'].unique() #variavel estados_civil, relaciona todos tipos da tabela[coluna]desejada
for status in estados_civil:
    df_est = people[people['MaritalDesc']==status]
    qtd_absences = df_est['Absences'].mean()
    
    print(status, ':', qtd_absences)

Solteiros:  9.773722627737227
Casados:  10.92741935483871

Single : 9.773722627737227
Married : 10.92741935483871
Divorced : 10.0
Widowed : 10.875
Separated : 8.583333333333334

### O departamento do colaborador tem impacto na quantidade de faltas?

In [369]:
people['Department'].unique()
#eliminar espaços vazios
people['Department_tratada']=people['Department'].apply(lambda x: x.strip())
people['Department_tratada'].unique()

#teste manual department x department
df_dep_ti = people[people['Department_tratada']=='IT/IS']
print('IT/IS: ',df_dep_ti['Absences'].mean())
df_dep_soft_eng = people[people['Department_tratada']=='Software Engineering']
print('Software Engineering: ',df_dep_soft_eng['Absences'].mean(),'\n')

# Loop For
# Lista única de departamentos
departmentos = people['Department_tratada'].unique()
# Loop sobre os departamentos
for department in departmentos:
    # Filtrar o DataFrame pelo departamento atual
    df_dep = people[people['Department_tratada'] == department]
    
    # Calcular a média de ausências para o departamento atual
    qtd_absences = df_dep['Absences'].mean()
    
    # Imprimir o resultado
    print('Faltas: ', department + ':', qtd_absences)

IT/IS:  10.44
Software Engineering:  8.727272727272727

Faltas:  Production: 10.14354066985646
Faltas:  IT/IS: 10.44
Faltas:  Software Engineering: 8.727272727272727
Faltas:  Admin Offices: 8.666666666666666
Faltas:  Sales: 11.548387096774194
Faltas:  Executive Office: 10.0

### O Departamento tem impacto na satisfação do coolaborador?

In [365]:
people['Department_tratada']=people['Department'].apply(lambda x: x.strip())
people['Department_tratada'].unique()

for department in departmentos:
    # Filtrar o DataFrame pelo departamento atual
    df_dep = people[people['Department_tratada'] == department]
    # Calcular a média de Satisfação para o departamento atual
    qtd_satisfacao = df_dep['EmpSatisfaction'].mean()
    
    # Imprimir o resultado
    print('Satisfação: ',department + ':', qtd_satisfacao)

Satisfação  Production: 3.861244019138756
Satisfação  IT/IS: 3.96
Satisfação  Software Engineering: 4.090909090909091
Satisfação  Admin Offices: 3.5555555555555554
Satisfação  Sales: 4.032258064516129
Satisfação  Executive Office: 3.0

### A participação em projetos tem impacto nas faltas?

In [368]:
people['Department_tratada']=people['Department'].apply(lambda x: x.strip())
people['Department_tratada'].unique()
for department in departmentos:
    # Filtrar o DataFrame pelo departamento atual
    df_dep = people[people['Department_tratada'] == department]
    # Calcular a média de Pparticipação para projetos especiais para o departamento atual
    qtd_engajamento = df_dep['SpecialProjectsCount'].mean()
    
    # Imprimir o resultado
    print('Projetos: ',department + ':', qtd_engajamento)

Projetos:  Production: 0.019138755980861243
Projetos:  IT/IS: 5.92
Projetos:  Software Engineering: 4.181818181818182
Projetos:  Admin Offices: 3.6666666666666665
Projetos:  Sales: 0.0
Projetos:  Executive Office: 0.0