Aula De Dataframes - Tabelas Com Linhas E Colunas
Linhas = Registros = Nomes, Códigos
Colunas = Propriedade Ou Propriedade

Padrão de uso :
Pandas = pd

In [11]:
import pandas as pd
print('DataFrame apartir de um dicionário')
dict={
    'idade':[36,35],
    'genero':['f','m'],
    'peso':[63,68],
    'altura':[1.67,1.69]
}
data = pd.DataFrame(dict)
print(data)

   idade genero  peso  altura
0     36      f    63    1.67
1     35      m    68    1.69

In [19]:
print('DataFrame apartir de uma lista')
matrix = [[39,'M',83.5,1.68],[37,'F',54,1.57]]
cols = ['idade','genero','peso','altura']
data =pd.DataFrame(matrix,columns = cols)#argumento columns = cols => nomes de colunas, sem o mesmo vira como indices iniciando em zero
print(data)

lin = 1
col = 2

#print(data.iloc[lin][col]) # iloc: usa var criada para se localizar entre colchetes separados
#print(data.loc[0]['idade']) #loc usa o indice e o nome da coluna entre colchetes separados para se localizar

print(data.iat[lin,col]) #iat: usa var criada para se localizar entre colchetes unicos separados por virgula
print(data.at[0,'idade']) #at: usa o indice e o nome da coluna entre colchetes unicos separados por virgula

DataFrame apartir de uma lista
   idade genero  peso  altura
0     39      M  83.5    1.68
1     37      F  54.0    1.57
54.0
39

In [56]:
carros = {
    'modelo': ['Maruti 800 AC','Maruti Wagon R LXI Minor','Hyundai Verna 1.6 SX', 'Datsun RediGO T Option', 'Honda Amaze VX i-DTEC', 'Maruti Alto LX BSIII', 'Hyundai Xcent 1.2 Kappa S', 'Tata Indigo Grand Petrol', 'Hyundai Creta 1.6 VTVT S', 'Maruti Celerio Green VXI', 'Chevrolet Sail 1.2 Base', 'Tata Indigo Grand Petrol', 'Toyota Corolla Altis 1.8 VL CVT'],
    'ano': [2007, 2007, 2012, 2017, 2014, 2007, 2016, 2014, 2015, 2017, 2015, 2014, 2018],
    'preço': [60000, 135000, 600000, 250000, 450000, 140000, 550000, 240000, 850000, 365000, 260000, 250000, 1650000],
    'combustivel': ['Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'CNG', 'Petrol', 'Petrol', 'Petrol']
}
tabela = pd.DataFrame(carros)
print(tabela)
print()
print('Modelo: ',tabela.iat[5,0],'R$:', tabela.iat[5,2])
print('Modelo: ',tabela.iat[10,0],'(',tabela.iat[10,1],') :', tabela.iat[10,3])

                             modelo   ano    preço combustivel
0                     Maruti 800 AC  2007    60000      Petrol
1          Maruti Wagon R LXI Minor  2007   135000      Petrol
2              Hyundai Verna 1.6 SX  2012   600000      Diesel
3            Datsun RediGO T Option  2017   250000      Petrol
4             Honda Amaze VX i-DTEC  2014   450000      Diesel
5              Maruti Alto LX BSIII  2007   140000      Petrol
6         Hyundai Xcent 1.2 Kappa S  2016   550000      Petrol
7          Tata Indigo Grand Petrol  2014   240000      Petrol
8          Hyundai Creta 1.6 VTVT S  2015   850000      Petrol
9          Maruti Celerio Green VXI  2017   365000         CNG
10          Chevrolet Sail 1.2 Base  2015   260000      Petrol
11         Tata Indigo Grand Petrol  2014   250000      Petrol
12  Toyota Corolla Altis 1.8 VL CVT  2018  1650000      Petrol

Modelo:  Maruti Alto LX BSIII R$: 140000

Modelo:  Chevrolet Sail 1.2 Base ( 2015 ) : Petrol